:root {
  font-family: 'roboto' ,sans-serif;
  font-size: 16px;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 6fr;

}

img {
  height: 20px;
  width: 20px;
}
img:hover{
  transform: scale(1.3);
}

/* Header Section */

header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem 1rem 2rem;
  box-shadow: 0px 5px 15px rgba(0,0,0,1);
  
}
.header-top,
.header-bottom {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 16px;
}
.header-top-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.header-top-search input {
  width: 90%;
  padding: 0.3rem;
  border-radius: 0.9rem;
  background-color: #e2e8f0;
  border: none;
}
.header-top-user-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: yellowgreen;
}
.header-top-user {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 0;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.header-bottom-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.header-bottom-user-pic {
  height: 80px;
  width: 80px;
  background-color: yellow;
  border-radius: 50%;
}
.header-bottom-user-name {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 600;
}
.header-bottom-user-name span {
  font-size: 0.8rem;
}
.header-bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
header button {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  width: 6rem;
  padding: 0.8rem 1.6rem;
  background-color: rgb(20, 151, 238);
  border: 1px white solid;
  border-radius: 1.5rem;
}

/* Sidebar Section */

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 225px 200px;
  gap: 40px;
  padding: 2rem;
  background-color: rgb(10, 169, 231);
  color: white;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sidebar-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: -1rem;
}
.sidebar-title img {
  height: 50px;
  width: 50px;

}
.sidebar-item {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Main  Section */

main {
  padding: 20px;
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  background-color: #f1f5f9;
}
.card,
.ann-content,
.trend-users {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 0.7rem;
}
.project-title,
.ann-title,
.trend-title {
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
}

/*project Section */

.projects {
  grid-area: 1 / 1 / 3 / 2;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px,1fr));
  gap: 30px;
}
h4,
p {
  margin: 0;
}
.card {
  border-left: 8px yellow solid;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}
.card-content {
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-content p {
  font-size: 1rem;
  color: #71717a;
}
.card-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.card-icons img {
  height: 25px;
  width: 25px;
}
.card-icons img:nth-child(3) {
  transform: rotate(-90deg);
}

/*announcements section */

.announcements {
  grid-area: 1 / 2 / 2 / 3;
}
.ann-content {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
}
.content-link {
  padding: 12px 0;
  font-size: 0.8rem;
  color: #71717a;
}
.content-link span {
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}
.content-link:nth-child(2) {
  border-top: 1px #71717a solid;
  border-bottom: 1px #71717a solid;
}

 /* trending section*/

.trending {
  grid-area: 2 / 2 / 3 / 3;
}
.trend-users {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
}
.user {
  display: flex;
  gap: 16px;
  padding: 6px 0;
}
.user-pic {
  height: 50px;
  width: 50px;
  background-color: pink;
  border-radius: 50%;
}
.user-name {
  color: #71717a;
  font-size: 0.8rem;
}
.user-name span {
  color: black;
  font-size: 1rem;
}
